.page__container {
  background-color: var(--dark);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  min-height: 100%;
  width: 100%;
  padding-top: 50px;
  font-size: 14px;
  font-family: "Roboto";
  //   color: #1e2022;
  color: var(--white);

  .table__container {
    max-width: 95%;
    margin: auto;

    .table__header {
      //   border: 3px solid red;
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      font-weight: 600;
      div {
        padding-left: 15px;

        &:nth-child(6) {
          //   border: 3px solid red;
          width: 80px;
          padding-left: 0px;
        }
        &:nth-child(7) {
          //   border: 3px solid red;
          width: 30px;
          padding-left: 0px;
          margin-right: 30px;
        }
        &:nth-child(8) {
          //   border: 3px solid red;

          padding-left: 0px;
        }
      }
    }

    .table__body {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      .transaction {
        border: 1px solid var(--white);
        display: flex;
        flex-direction: column-reverse;
        // background-color: #fff;
        border-radius: 8px;
        margin-bottom: 30px;
        background-color: var(--dark);
        font-weight: bolder;

        .out {
          border-bottom: 0.5px solid #e4e4e4;
          //   border-top: 3px solid var(--dark);
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          div {
            // border: 3px solid red;
            &:nth-child(4) {
              //   border: 3px solid blue;
              background-color: var(--TablebuttonOut);
              width: 40px;
              text-align: center;
              color: #b57c00;
              padding: 3px 0;
              border-radius: 5px;
            }
          }
        }

        .in,
        .out {
          padding: 20px;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
        }
      }
    }
  }
}

.lightMode {
  background-color: var(--white);
  color: var(--dark);
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  .table__container {
    .table__body {
      .transaction {
        background-color: #ebf4fc;
        .out {
          div {
            color: var(--dark);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .page__container {
    font-size: 11px;
  }
}

@media screen and (max-width: 660px) {
  .page__container {
    font-size: 9px;
  }
}

@media screen and (max-width: 560px) {
  .page__container {
    font-size: 7px;
    .table__container {
      overflow-x: scroll;
      min-width: 95%;
      //   border: 2px solid red;
      .table__header {
        // border: 2px solid blue;
        //   border: 3px solid red;
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        font-weight: 600;
        div {
          //   padding-left: 15px;

          &:nth-child(6) {
            //   border: 3px solid red;
            display: flex;
            justify-content: center;
            width: 80px;
            padding-left: 0px;
          }
          &:nth-child(7) {
            //   border: 3px solid red;
            width: 30px;
            padding-left: 0px;
            // margin-right: 30px;
          }
          &:nth-child(8) {
            //   border: 3px solid red;

            padding-left: 0px;
          }
        }
      }
    }
  }
}
