/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark);
  border-radius: 10px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.container {
  width: 100vw;
  overflow-x: hidden;
  min-height: 150vh;
  //   border: 3px solid red;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  background-color: var(--dark);
  .bodyParentDiv {
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .bodyContainer {
      //   border: 2px solid blue;
      overflow: hidden;
      width: 80%;
      min-height: calc(100vh - 90vh);
      margin-top: 10vh;
      .blockChainParent {
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        min-height: 60vh;
        margin-top: 100px;
        //   border: 2px solid green;
        .blockChain {
          width: 50%;
          //   border: 2px solid red;
          padding-top: 100px;
          span {
            margin-top: 40px;
            color: var(--white);
            font-size: 46px;
            font-weight: bolder;
            h1 {
              //   border: 5px solid red;
              margin-bottom: 30px;
            }
          }
          p {
            color: var(--white);
            font-size: 20px;
            margin-bottom: 30px;
            // font-size: 46px;
            font-weight: bolder;
          }
          button {
            display: inline-block;
            padding: 15px 40px;
            background: var(--buttonColor);
            color: var(--white);
            font-size: 50px;
            font-weight: bolder;
            border: none;
            cursor: pointer;
            text-align: center;
            border-radius: 999px;
            font-size: 16px;
            line-height: 1.3;
            // &:nth-child(2) {
            //   margin-left: 30px;
            // }
          }
        }
        .blockChainLogo {
          width: 50%;
          background-image: url("../../assets/home-hero.jpg");
          // height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .learnMore {
        height: 70px;
        //   border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        font-weight: bolder;
        flex-direction: column;
        // background-color: var(--dark);
        color: var(--white);
        //   border: 2px solid blue;
        span {
          display: flex;
          justify-content: center;
          font-size: 20px;
        }
        .arrowKey {
          //   border: 2px solid red;
          transform: rotate(90deg);
          font-size: 30px;
        }
      }
    }
  }

  .guideContainer {
    min-height: 50vh;
    background-color: var(--dark);
    padding: 70px 0;
  }
  .walletContainer {
    min-height: 10vh;
    background-color: var(--dark);
    padding: 70px 0;
    // border: 3px solid red;
  }

  .transactionContainer {
    min-height: 5vh;
    width: 100%;
    // border: 3px solid red;
    // background-color: var(--dark);
  }
  .partnerContainer {
    min-height: 70vh;
    background-color: var(--partnerBgColor);
    .textContainer {
      //   border: 3px solid red;
      min-height: 300px;
      width: 100%;
      height: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .textItem {
        width: 80%;
        height: inherit;
        font-weight: bolder;
        // border: 2px solid red;
        text-align: center;
        //   display: flex;
        color: var(--white);
        h2 {
          font-size: 24px;
          line-height: 36px;
          padding-bottom: 20px;
        }
      }
    }
    .partnerImageContainer {
      margin-top: 100px;
      min-height: calc(70vh - 8vh);
      // border: 3px solid blue;
    }
  }
  .footerContainer {
    // border: 2px solid #24292e;
    min-height: 70vh;
    background-color: var(--footerColor);
  }
}

.lightMode {
  background-color: var(--white);
  .bodyParentDiv {
    .bodyContainer {
      .blockChainParent {
        .blockChain {
          span {
            color: var(--dark);
            h1 {
              color: var(--dark);
            }
          }
        }
      }
      .learnMore {
        color: var(--dark);
      }
    }
  }
  .guideContainer {
    background-color: var(--footerColor2);
  }
  .walletContainer {
    background-color: #ebf4fc;
  }

  .partnerContainer {
    background-color: var(--white);
    .textContainer {
      .textItem {
        color: var(--dark);
      }
    }
  }
  .footerContainer {
    background-color: var(--footerColor2);
  }
}
@media screen and (max-width: 850px) {
  .container {
    .bodyParentDiv {
      .bodyContainer {
        width: 100%;
        height: 100%;
        .blockChainParent {
          width: 100%;
          height: 100%;
          // border: 5px solid blue;
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          .blockChain {
            padding-top: 0px;
            //   border: 3px solid red;
            width: 100%;
            text-align: center;
            span {
              margin-top: 20px;

              h1 {
                font-size: 35px;
                margin-bottom: 20px;
              }
            }
            p {
              font-size: 18px;
              margin-bottom: 20px;
            }
            button {
              width: 90%;
            }
          }
          .blockChainLogo {
            //   border: 3px solid red;
            width: 100%;
            background-image: url("../../assets/home-hero.jpg");
            height: 300px;
            background-size: cover;
          }
        }
        .learnMore {
          span {
            color: var(--white);
            font-size: 16px;
            font-weight: bolder;
          }
          .arrowKey {
            font-size: 16px;
          }
        }
      }
    }

    .partnerContainer {
      .textContainer {
        h2 {
          // border: 3px solid red;
          font-size: 35px;
          padding-bottom: 30px;
          font-weight: bolder;
        }
        font-weight: bolder;
        font-size: 16px;
        margin-bottom: 100px;
      }
      .partnerImageContainer {
        //   border: 3px solid blue;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .bodyParentDiv {
      .bodyContainer {
        width: 100%;
        height: 100%;
        .blockChainParent {
          width: 100%;
          height: 100%;
          // border: 5px solid blue;
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          .blockChain {
            padding-top: 0px;
            //   border: 3px solid red;
            width: 100%;
            text-align: center;
            span {
              margin-top: 20px;
              // color: var(--white);
              // font-size: 46px;
              // font-weight: bolder;
              h1 {
                margin-top: 0;
                //   border: 5px solid red;
                margin-bottom: 20px;
                font-size: 35px;
              }
            }
            p {
              font-size: 18px;
              margin-bottom: 20px;
            }
            button {
              width: 90%;
            }
          }
          .blockChainLogo {
            //   border: 3px solid red;
            width: 100%;
            background-image: url("../../assets/home-hero.jpg");
            height: 300px;
            background-size: cover;
          }
        }
        .learnMore {
          span {
            color: var(--white);
            font-size: 16px;
            font-weight: bolder;
          }
          .arrowKey {
            font-size: 16px;
          }
        }
      }
    }

    .partnerContainer {
      .textContainer {
        h2 {
          font-size: 35px;
        }
        font-size: 16px;
        margin-bottom: 100px;
      }
      .partnerImageContainer {
        //   border: 3px solid blue;
        margin-top: 50px;
      }
    }
  }
}
